.nav {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;

  &__wrap {
    display: flex;
    align-items: center;
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 20px;
  }

  &__list {
    margin-inline: auto;
    padding-right: 140px;
  }

  &__link {
    color: var(--Gray-6);
    font-family: 'Gilroy-700';
    font-size: 14px;
    line-height: 100%; /* 14px */
    text-transform: uppercase;
    transition: 0.3s ease-in;
    &:hover {
      font-size: 16px;
    }
  }
}

.logo {
  width: 100px;
  height: 59.701px;
  cursor: pointer;
  transition: 0.3s ease-in;

  &:hover {
    transform: scale(1.05);
  }
}